{{# if session.isAuthenticated }}
  <li class="nav-item">
    {{# link-to 'dashboard' class='nav-link' }}Dashboard{{/ link-to }}
  </li>

  <li class="nav-item">
    <a class="nav-link" href="javascript:;" {{ action 'logout' }}>Logout</a>
  </li>
{{ else }}
  <li class="nav-item">
    {{# link-to 'signup' class='nav-link' }}Signup{{/ link-to }}
  </li>

  <li class="nav-item">
    {{# link-to 'login' class='nav-link' }}Login{{/ link-to }}
  </li>
{{/ if }}
