<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <h1 class="masthead-heading mb-0">Dashboard</h1>
    </div>
  </div>
</header>

<section>
  <div class="container">
    <div class="m-5">
      This is only accessible to logged-in users.
    </div>
  </div>
</section>
