<div class="container-fluid">
  <div class="alert alert-info">
    <h2 class="media-heading">Your feed is being imported now.</h2>
    <p>
      It&rsquo;ll take a few mintes to pull in your episodes, but
      once done you&Rsquo;ll be able to visit your dashboard to
      manage your new DotPodcast feed.
    </p>
  </div>

  <h3>What do I do next?</h3>
  <p>
    There&rsquo;s nothing to do. We&rsquo;ll take care of the rest!
  </p>

  {{# link-to 'dashboard' class='btn btn-success btn-lg' }}Visit your dashboard{{/ link-to }}
</div>
