<header class="jumbotron text-center">
  <div class="container">
    <h1>Join DotPodcast</h1>
    <p class="lead">Keep your current hosting provider<br>Take advantage of the new JSON spec</p>
    {{# link-to 'signup' class='btn btn-primary btn-lg rounded-pill mt-5' }}Sign up{{/ link-to }}
    {{# link-to 'dashboard' class='btn btn-default btn-lg rounded-pill mt-5' }}Login{{/ link-to }}
  </div>
</header>

<section class="marketing-messages">
  <div class="container">
    <div class="box">
      <h2>Keep your current hosting provider</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
      <hr>
      <h2>Take advantage of the new JSON spec</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
    </div>
  </div>
</section>
